/* ==========================================================================
   Pimwaree's custom styles
   ========================================================================== */
/* --------------------------------------------------------------------------
   Base CSS
   color
   green - #3daf2c
   orange - #f04705
   -------------------------------------------------------------------------- */
body { 
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
}
p {
    color: #4b4b4b;
    line-height: 1.6em;
    margin-bottom: 20px;
}
/* Override Bootstrap .lead */
.lead {
    font-size: 18px;
    line-height: 1.6em;
}
a { color: #6b6b6b; }
a:hover {
    color: #3daf2c;
    text-decoration: none;
}

/* --------------------------------------------------------------------------
   Helper
   -------------------------------------------------------------------------- */
.text-stoke-white {
    /* text stoke */
    text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
}
.pwr-text-green { color: #3daf2c; }

.pwr-btn-outline-white {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
}
.pwr-btn-outline-white:hover {
    border: 1px solid #3daf2c;
    background-color: #3daf2c;
    border-radius: 0;
    color: #fff;
}

/* --------------------------------------------------------------------------
   Navigation 
   base on Bootstrap 3 navbar
   -------------------------------------------------------------------------- */
.pwr-header { 
    padding-top: 50px;
    font-family: "Noto Serif", serif;
}
.pwr-navbar {
    height: 130px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    transition: all .3s ease-in-out;
}
.pwr-navbar .navbar-brand { transition: all .3s ease-in-out; }
.pwr-brand-img { 
    width: 100px;
    transition: all .3s ease-in-out;
}
.pwr-brand-text { 
    display: none;
    color: #4b4b4b;
    font-style: italic;
}
.pwr-navbar .navbar-nav {
    margin-top: 40px;
    margin-left: 40px;
}
.pwr-navbar .navbar-nav > li > a {
    font-size: 18px;
    color: #6b6b6b;
    text-decoration: none;
}
.pwr-navbar .navbar-nav > li > a:hover,
.pwr-navbar .navbar-nav > li > a:focus {
    color: #3daf2c;
}
.pwr-navbar .navbar-nav > .active > a,
.pwr-navbar .navbar-nav > .active > a:hover,
.pwr-navbar .navbar-nav > .active > a:focus {
    color: #eee;
    background-color: #3daf2c;
}

/* Toggle button in small screen */
.pwr-navbar .navbar-toggle { border: 1px solid #6b6b6b; }
.pwr-navbar .navbar-toggle:hover,
.pwr-navbar .navbar-toggle:focus {
    background-color: #ddd;
}
.pwr-navbar .navbar-toggle .icon-bar { background-color: #6b6b6b; }

.pwr-nav-contact {
    color: #3daf2c;
    margin-top: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    font-size: 18px;
}
.pwr-navbar-lang {
    display: inline-block;
    margin-top: 48px;
}
.pwr-navbar-lang .btn-group {
    border-radius: 0;
}
.pwr-navbar-lang .active {
    border-bottom: 3px solid #3daf2c;
    box-shadow: none;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child),
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

/* Small nav if scroll offset top 50px */
.pwr-nav-small { height: 50px; }
.pwr-nav-small .pwr-brand-img { display: none; }
.pwr-nav-small .pwr-brand-text { display: block; }
.pwr-nav-small .pwr-nav { margin-top: 0; }
.pwr-nav-small .pwr-nav li a { font-size: 16px; }
.pwr-nav-small .pwr-nav-contact {
    font-size: 16px;
    margin-top: 0;
}
.pwr-nav-small .pwr-navbar-lang { margin-top: 8px; }

/* --------------------------------------------------------------------------
   Hero Unit
   -------------------------------------------------------------------------- */
.pwr-hero {
    width: 100%;
    height: 700px;
    background-image: url('../img/hero.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-color: #6b6b6b;
    color: #fff;
    text-align: center;
}
    .pwr-hero-title {
        font-size: 64px;
        font-family: "Noto Serif", serif;
        font-style: italic;
        font-weight: normal;
        margin-top: 260px;
        text-shadow: 0 0 6px rgba(0,0,0,0.7);
    }
    .pwr-hero-desc {
        margin-top: 40px;
        font-size: 22px;
        font-family: "Noto Sans", sans-serif;
        text-shadow: 0 0 6px rgba(0,0,0,0.7);
    }
    .pwr-hero-anchor {
        text-align: center;
        margin-top: 60px;
    }
    .pwr-hero-anchor a {
        color: #fff;
        margin-left: auto;
        margin-right: auto;
    }
        .pwr-hero-anchor a:hover { color: #fff; }
        .pwr-hero-anchor-title {
            font-size: 20px;
            letter-spacing: 1px;
        }
    .pwr-hero-btn {
        background-color: #3daf2c;
        color: #fff;
    }
.pwr-circle-border {
    display: block;
    text-align: center;
    width: 48px;
    height: 48px;
    border: 2px solid #eee;
    font-size: 20px;
    line-height: 42px;
    border-radius: 48px;
}
.pwr-circle-green {
    display: inline-block;
    text-align: center;
    width: 36px;
    height: 36px;
    font-size: 20px;
    line-height: 36px;
    border-radius: 36px;
    color: #fff;
    background-color: #3daf2c;
    margin-right: 10px;
}

/* --------------------------------------------------------------------------
   Section
   -------------------------------------------------------------------------- */
.pwr-section {
    padding-top: 40px;
    padding-bottom: 50px;
}
.pwr-section-sub { margin-bottom: 30px; }
.pwr-heading {
    font-family: "Noto Serif", serif;
    margin-bottom: 20px;
}
    .pwr-heading-primary {
        font-size: 48px;
        font-style: italic;
        margin-bottom: 10px;
    }
    .pwr-heading-secondary {
        font-size: 22px;
        color: #3daf2c;
        margin-top: 0;
        margin-bottom: 40px;
    }
.pwr-section-intro { margin-bottom: 40px; }

/* About */
.pwr-about {
    background-color: #fff;
    background-image: url("../img/about-bg.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    min-height: 680px;
}
.pwr-about .lead {
    /* text stoke */
    text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
}

/* Product */
.pwr-product { padding-bottom: 0; }
.pwr-salad {
    background-image: url('../img/product-bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 500px;
}
.pwr-solution { text-align: center; }
.pwr-solution-item {}
.pwr-salad {}
.pwr-text-hilight {
    font-size: 24px;
    font-style: italic;
}
strong.pwr-text-green { font-weight: normal; }

/* Order */
.price {
    color: #3daf2c;
    font-size: 24px;
    font-family: "Noto Sans", sans-serif;
}
.pwr-circle-truck {
    width: 64px;
    height: 64px;
    line-height: 64px;
    font-size: 32px;
    border-color: #3daf2c;
    color: #3daf2c;
}

/* --------------------------------------------------------------------------
   Footer
   -------------------------------------------------------------------------- */
.page {
    background-color: #fff;
    background-image: url('../img/wood-bg-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    box-shadow: 0 2px 6px rgba(0,0,0,0.75);
}
.pwr-footer {
    background-color: #222;
    background-image: url('../img/dark_wall.png');
    background-repeat: repeat;
    color: #eee;
    font-weight: 400;
}
.pwr-footer address { margin-bottom: 0; }
.media-body-middle { padding-top: 10px; }

/* Contact */
.pwr-contact {}
.pwr-contact-info { margin-top: 10px; }
.pwr-contact-info .media-body { padding-left: 10px; }
.pwr-contact-form { margin-top: 10px; }
.pwr-btn-contact {
    background-color: transparent;
    border: 1px solid #666;
    border-radius: 0;
}
.pwr-btn-contact:hover {
    background-color: #3daf2c;
    border: 1px solid #3daf2c;
    border-radius: 0;
}

/* override bootstrap form control */
.form-control {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid #666;
}
.form-control:focus {
    border-color: #3daf2c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(61,175,44,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(62,175,44,.6);
}

/* nivo lightbox close button fixed */
.nivo-lightbox-theme-default .nivo-lightbox-close { background-position: 0 0; }