/* xs */
@media (max-width: 767px) {
	.pwr-navbar { height: 50px; }
    .pwr-brand-img { display: none; }
    .pwr-brand-text {  display: block; }
    .pwr-navbar .navbar-collapse,
    .pwr-navbar .navbar-form {
      	border-color: #e7e7e7;
      	background-color: #fff;
    }
    .pwr-navbar .navbar-nav {
        margin-top: 0;
        margin-left: -15px;
        overflow: hidden;
    }
    .pwr-navbar .navbar-nav li {  margin-left: 0; }
    .pwr-navbar .navbar-nav > li > a { font-size: 16px; }
    .pwr-navbar .pwr-navbar-lang {
        margin-top: 0;
        margin-bottom: 10px;
    }
	.pwr-nav-main {
	    height: 60px;
	    padding-top: 5px;
	}
	    .pwr-nav-main .pwr-brand { width: 50px; }
	    .pwr-nav-main .pwr-nav-contact {
	        margin-top: 8px;
	        font-size: 16px;
	    }
	    .pwr-nav-main .pwr-nav { margin-top: 8px; }
	    .pwr-nav-main li a { font-size: 16px; }
	.pwr-hero { 
		height: 600px;
	}
	.pwr-hero-title {
        font-size: 32px;
        margin-top: 160px;
    }
    .pwr-hero-desc {
    	font-size: 18px;
        margin-top: 36px;
    }
    .pwr-salad { min-height: 260px; }
}
/* sm */
@media (min-width: 769px) and (max-width: 992px) {
	.pwr-hero-title {
        font-size: 56px;
        margin-top: 260px;
    }
    .pwr-hero-desc {
        font-size: 22px;
        margin-top: 36px;
    }
    .pwr-salad { min-height: 340px; }
}
/* sm and upper */
@media (min-width: 768px) {
	.lead {
	    font-size: 20px;
	    line-height: 1.8em;
	}
}
/* xs and sm */
@media (max-width: 991px) {
	.pwr-contact-info { margin-bottom: 30px; }
	.pwr-footer { padding-bottom: 30px; }
}
/* md */
@media (min-width: 993px) and (max-width: 1200px) {
	.container-fluid { width: 970px; }
}
/* lg */
@media (min-width: 1200px) {
	.container-fluid { width: 1170px; }
	.pwr-salad { height: 479px; }
}